---
layout: archive
---

<h1 class="archive__subtitle">{{ site.data.ui-text[site.locale].home_page | default: "Welcome to my website!" }}</h1>

<p class="lead mb-5" align="justify"></p>
<font size="4">I am Marco Gutierrez, Research Assistant at the <a href=http://www.up.edu.pe/en/research-areas-centers/ciup/Paginas/default.aspx target="_blank">Center of Research of the Universidad del Pacifico (CIUP)</a>, working on the construction of the
Experimental Economics Laboratory of this University. I'm also working for <a href=https://economics.gmu.edu/people/kmccabe target="_blank">Kevin
McCabe</a>, <a href=https://kmlv.github.io/ target="_blank">Kristian Lopez-Vargas</a> and <a href="https://www.brown.edu/academics/population-studies/people/person/louis-putterman" target="_blank">Louis Putterman</a> on several experimental and
applied economic projects as an independent Research Assistant.</font>
<p class="lead mb-1"></p>
<font size="4">My interestes are Behavioral and Experimental Economics, Computational Economics and Impact Evaluation of Public
Policies</font>
<p class="lead mb-5"></p>

<font size="4">If you have any question, please send me an email to <a href=mailto:ma.gutierrezch@up.edu.pe target="_blank">ma.gutierrezch@up.edu.pe</a></font>

{% include paginator.html %}
